.App {
  text-align: center;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  color: black;
  flex-direction: column;
}
.Board {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-self: center;
}
.Box {
  width: calc(100% / 3);
  height: calc(100% / 3);
  box-sizing: border-box;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
}
